:root {
    --grey: #f5f5f5;
    --blue: #3dadf9;

    }



.chat-window {
    * {
        font-family: "Montserrat", sans-serif;
    }

    box-shadow: rgba(0, 0,0 , 0.24) 0px 3px 8px;
    border-radius: 20px;
    position:absolute;
    bottom: 60px;
    right: 20px;
    height: 600px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
   
   
}

.close{
    border: none;
    padding: 8px 0;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px 20px 0 0;

}
.chat {
    
    flex: 1;
    padding: 0 8px;
    overflow-y: scroll;

    p {
        border-radius: 20px ;
        width: 80%;
        margin: 8px 0;
        font-size: 16px;
        font-weight: 600;
    }

   div.model {
        p {
            background-color: var(--grey);
            padding: 16px;
        }
    }

    div.user {
        display: flex;
        justify-content: flex-end;

        p {
            background-color: var(--blue);
            color: white;
            padding: 16px;
        }
    }
}
.input-area {
    
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border-top: 1p solid lightgray;
    
}
    
input {
        height: 40px;
        flex: 1;
        border: none;
            background-color: var(--grey);
            border-radius: 20px;
            padding-left: 20px;
            font-size: 16px;
    }

.input-area button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    margin-left: 12px;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
     }

.input-area img {
    height: 25px;
    width: 20px;
}

.input-area ::placeholder{
    font-size: 16px;
    font-weight: 500;
}
